*{
    font-family: SoDo Sans, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.row{
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.verde{
    background-color: #1e3932;
    color: white;
}

.content{
    display: flex;
    align-items: center;
}

.content img{
    width: 50%;
}

.text{
    max-width: 400px;
    margin: auto;
}

.text h1{
    font-size: 1.875rem;
}

.text p{
    font-size: 1.2rem;
}